{% extends "base.html" %}

{% load bootstrap3 %}
{% block extratitle %}DPThoughtDex{% endblock %}

{% block maincontent %}
<section id="content">
{% for object in object_list %}
{% ifchanged %}
<h3><a href="{{object.get_day_archive_url}}">{{ object.pub_date|date:"F d, Y" }}</a></h3>
{% endifchanged %}
<!-- links for today -->
<container>
<p class="text-uppercase">{{ object.author }}</p>
<blockquote>{{ object.message|safe }}</blockquote>
<p class="text-right"><a href="{{ object.url}}">Link &nbsp;{% bootstrap_icon "share" %}</a></p>
</container>
{% endfor %}

</section>
{% endblock maincontent %}
